server:
  port: ${PORT}

spring:
  application:
    name: fastfoodfase1

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

api:
  mercadopago:
    userId: ${MP_USER_ID}
    externalPosId: ${MP_EXTERNAL_POS_ID}
    token: ${MP_TOKEN}
  pedido:
    host: ${MS_PEDIDO_HOST}
  producao:
    host: ${MS_PRODUCAO_HOST}
